<h1>My first post</h1>
<div class="user-post">
  <div class="current-post">
    <p>Post <%= @post.id  %> by <%= @post.author.name %></p>
    <p><%= @post.text  %></p>
  </div>
  <p><span>Comments <%= @post.comments_counter  %></span>, <span>Likes <%= @post.likes_counter  %></span></p>
</div>

<div>
  <% @post.comments.each do |comment| %>
    <%= comment.author.name %> : <%= comment.text  %>
    <% if can? :destroy, comment %>
      <%= form_with url: user_post_comment_destroy_path, method: :delete do |form| %>
      <%= form.submit 'Delete comment' %>
      <% end %>
    <% end %
  <% end %>
</div>

<div>
  <%= link_to users_path do %>
    <button>Back to Users</button>
  <% end %>
</div>